body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding: 0 15px;
    }
}   

/* ----------HEADER---------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-svg {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {

    .header-burger {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link::after {
        content: '';
        background-color: #404bbf;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
    }

    .header-link:hover::after,
    .header-link:focus::after,
    .header-link.current::after {
        opacity: 1;
    }

    .header-link:hover,
    .header-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .header-link.current  {
        color: #404bbf;    
    }

    .contacts {
        font-style: normal;
        display: block;
    }
    
    .contacts-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
    
    .contacts-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        gap: 40px;
        flex-direction: row;
        align-items: center;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* ----------MOBILE MENU---------- */

.mobile-container {
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mobile-menu {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-close {
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
}

.menu-nav {
    margin-bottom: auto;
}

.menu-nav-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.menu-nav-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-contacts {
    font-style: normal;
    display: block;
    margin-bottom: 48px;
}

.menu-contacts-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-contacts-link {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
}

.menu-nav-link.current,
.menu-contacts-link.current {
    color: #404bbf;
}

.menu-social {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-social-item {
    width: 40px;
    height: 40px;
}

.menu-social-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-social-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none
    }
}

/* ----------HERO---------- */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    padding: 72px 0px;
    margin: 0 auto;

}

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-mob@2x.jpg")};
    }

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #fff;    
    display: block;
    max-width: 216px;
    margin: 0 auto 72px;
}

.hero-btn {
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-tab.jpg");
    }

    .hero-container {
        padding: 112px 0px;
    }

    .hero-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-tab@2x.jpg");
    }
}
}

@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-desk.jpg");
    }   
    
    .hero-container {
        padding: 188px 0;
    }
    
    .hero-title {
        margin-bottom: 48px;
    }

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-desk@2x.jpg");
    }
}
}

/* ----------ADVANTAGES---------- */

.advantages {
    background-color: #ffffff;
}

.advantages-container {
    padding: 96px 0;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-item {
    width: 100%;
}

.advantages-icon {
    display: none;
}

.advantages-subtitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .advantages-list { 
        gap: 72px 24px;
        flex-wrap: wrap;
        }

    .advantages-item {
        flex-basis: calc((100% - 24px) / 2);
        }

    .advantages-subtitle {
        text-align: left;
        }
}

@media screen and (min-width: 1158px) {
    .advantages-container {
        padding: 120px 0;
        }

    .advantages-list {
        gap: 24px;
        align-items: center;
        }

    .advantages-item {
        flex-basis: calc((100% - 72px) / 4);
        }

    .advantages-icon {
        background-color: #f4f4fd;
        width: 100%;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        }
    
    .advantages-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        }

    .advantages-text {
        font-size: 16px;
        font-weight: 400;
        }

    .advantages-text.correct {
        letter-spacing: 0.019em;
        }
}

/* ----------TEAM---------- */

.team {
    background-color: #f4f4fd;
}

.team-container {
    padding: 96px 0;
    margin: 0 auto;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    display: block;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {
    width: 100%;
}

.team-container-wrap {
    padding: 32px 16px;
}

.team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-container {
        padding: 96px 92px;
    }

    .team-list {
        gap: 64px 24px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-container {
        padding: 120px 0;
    }

    .team-list {
        gap: 0 24px;
        flex-wrap: nowrap;
    }

    .team-item {
        flex-basis: calc((100% - 72px) / 4);
    }
}

/* ----------PORTFOLIO---------- */

.portfolio {
    background-color: #ffffff;
}

.portfolio-container {
    padding: 96px 0;
    margin: 0 auto;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    display: block;
    margin: 0 auto 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-direction: column;
}

.portfolio-item {
    width: 100%;
}

.overlay-text {
    display: none;
}

.portfolio-container-wrap {
    padding: 32px 0;
    padding-left: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-container {
        padding: 120px 0;
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }

.portfolio-box {
    position: relative;
    overflow: hidden;
    }

.overlay-text {
    display: block;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-box:hover .overlay-text {
    transform: translateY(0);
    }
}

/* ----------FOOTER---------- */

.page-footer {
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    margin: 0 auto;
}

.footer-section {
    margin: 0 auto 72px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    display: block;
    width: 116px;
    margin: 0 auto 16px;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px;
}

.footer-social {
    margin: 0 auto 72px;
}

.social-text,
.subscribe-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-svg {
    fill: #f4f4fd;
}

.footer-subscribe {
    margin: 0 auto;
}

.footer-subcriber-wrap {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.footer-label {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input {
    background-color: transparent;
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.footer-btn-svg {
    margin-left: 16px;
    fill: #ffffff;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 92px;
    }

    .footer-section {
        max-width: 264px;
        margin: 0 24px 72px 0;
    }

    .footer-logo {
        display: block;
        width: 115px;
        margin-left: 0;
    }

    .footer-social {
        margin: 0 0 72px 0;
    }

    .social-text,
    .subscribe-text {
        text-align: left;
    }

    .footer-subscribe {
        margin-left: 0;
    }

    .footer-subcriber-wrap {
        gap: 24px;
        flex-direction: row;
        align-items: center;
    }

    .footer-input {
        width: 264px;
    }

}

@media screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        padding: 100px 0;
    }

    .footer-container {
        align-items: baseline;
    }

    .footer-section {
        margin: 0 120px 0 0;
    }

    .footer-social {
        margin-right: 80px;
    }
}

/* ----------MODAL---------- */

.backrop {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    background-color: #fcfcfc;
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-close {
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-title {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 256px;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    color: #8e8f99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    display: block;
    padding-left: 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
    border-color: #4d5ae5;
}

.input-wrap {
    position: relative;
}

.input-svg {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .input-svg {
    fill: #4d5ae5
}

.modal-text {
    margin-bottom: 16px;
}

.modal-textarea {
    background-color: transparent;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    display: block;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
}

.checkbox-element {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.checkbox-input:checked+.checkbox-label .checkbox-element {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-link {
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
}

.modal-button {
    background-color: #4d5ae5;
    color: #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }

    .modal-title {
        max-width: 360px;
    }
}

@media screen and (min-width: 1158px) {
    .modal-input {
        padding-left: 38px;
    }
}