body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/* @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}    */

.hidden {
    display: none;
}

/* ----------HEADER---------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-burger {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-svg {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {


    
    .header-burger {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link::after {
        content: '';
        background-color: #404bbf;
        width: 100%;
        height: 4px;
        border-radius: 2px;

        position: absolute;
        left: 0;
        bottom: -1px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
    }

    .header-link:hover::after,
    .header-link:focus::after,
    .header-link.current::after {
        opacity: 1;
    }

    .header-link:hover,
    .header-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .header-link.current  {
        color: #404bbf;    
    }

    .contacts {
        font-style: normal;
        display: block;
    }
    
    .contacts-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
    
    .contacts-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        gap: 40px;
        flex-direction: row;
        align-items: center;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* ----------HERO---------- */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    padding: 72px 0px;
    margin: 0 auto;
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #fff;    
    display: block;
    max-width: 216px;
    margin: 0 auto 72px;
}

.hero-btn {
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-tab.jpg");
        padding: 112px 0px;
    }

    .hero-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }
}

@media screen and (min-width: 1158px) {
        .container {
            padding: 0 156px;
        }

        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-desk.jpg");
            max-width: 1158px;
            padding: 188px 0;
        }        

        .hero-title {
            margin-bottom: 48px;
        }
}



/* ----------ADVANTAGES---------- */

.advantages {
    max-width: 320px;
    padding: 96px 0;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-item {
    width: 100%;
}

.advantages-icon {
    display: none;
}

.advantages-subtitle {
    font-size: 36px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }